In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score
import pickle
from sklearn.metrics import confusion_matrix

In [4]:
df=pd.read_csv('labeled_data.csv')

In [6]:
df.columns

Index(['Unnamed: 0', 'src_ip', 'dst_ip', 'src_port', 'dst_port', 'protocol',
       'timestamp', 'flow_duration', 'flow_byts_s', 'flow_pkts_s',
       'fwd_pkts_s', 'bwd_pkts_s', 'tot_fwd_pkts', 'tot_bwd_pkts',
       'totlen_fwd_pkts', 'totlen_bwd_pkts', 'fwd_pkt_len_max',
       'fwd_pkt_len_min', 'fwd_pkt_len_mean', 'fwd_pkt_len_std',
       'bwd_pkt_len_max', 'bwd_pkt_len_min', 'bwd_pkt_len_mean',
       'bwd_pkt_len_std', 'pkt_len_max', 'pkt_len_min', 'pkt_len_mean',
       'pkt_len_std', 'pkt_len_var', 'fwd_header_len', 'bwd_header_len',
       'fwd_seg_size_min', 'fwd_act_data_pkts', 'flow_iat_mean',
       'flow_iat_max', 'flow_iat_min', 'flow_iat_std', 'fwd_iat_tot',
       'fwd_iat_max', 'fwd_iat_min', 'fwd_iat_mean', 'fwd_iat_std',
       'bwd_iat_tot', 'bwd_iat_max', 'bwd_iat_min', 'bwd_iat_mean',
       'bwd_iat_std', 'fwd_psh_flags', 'bwd_psh_flags', 'fwd_urg_flags',
       'bwd_urg_flags', 'fin_flag_cnt', 'syn_flag_cnt', 'rst_flag_cnt',
       'psh_flag_cnt', 'ack_flag_cnt', 'urg_flag_cnt', 'ece_flag_cnt',
       'down_up_ratio', 'pkt_size_avg', 'init_fwd_win_byts',
       'init_bwd_win_byts', 'active_max', 'active_min', 'active_mean',
       'active_std', 'idle_max', 'idle_min', 'idle_mean', 'idle_std',
       'fwd_byts_b_avg', 'fwd_pkts_b_avg', 'bwd_byts_b_avg', 'bwd_pkts_b_avg',
       'fwd_blk_rate_avg', 'bwd_blk_rate_avg', 'fwd_seg_size_avg',
       'bwd_seg_size_avg', 'cwe_flag_count', 'subflow_fwd_pkts',
       'subflow_bwd_pkts', 'subflow_fwd_byts', 'subflow_bwd_byts', 'Label'],
      dtype='object')

In [7]:
df.head()

,Unnamed: 0,src_ip,dst_ip,src_port,dst_port,protocol,timestamp,flow_duration,flow_byts_s,flow_pkts_s,...,fwd_blk_rate_avg,bwd_blk_rate_avg,fwd_seg_size_avg,bwd_seg_size_avg,cwe_flag_count,subflow_fwd_pkts,subflow_bwd_pkts,subflow_fwd_byts,subflow_bwd_byts,Label
0,0,10.215.173.1,157.240.16.32,48924,443,6,2021-09-15 15:33:24,2525190.0,2094.495860,8.316206,...,0.000000,0.0,126.400000,365.909091,0,10,11,1264,4025,benign
1,1,10.215.173.1,10.215.173.2,16658,53,17,2021-09-15 15:33:24,43626.0,4148.902031,45.844221,...,0.000000,0.0,68.000000,113.000000,0,1,1,68,113,benign
2,2,10.215.173.1,157.240.16.53,37292,5222,6,2021-09-15 15:33:24,2504540.0,735.065122,9.183323,...,71225.071225,0.0,70.454545,88.833333,0,11,12,775,1066,benign
3,3,192.168.101.162,172.217.160.162,39604,443,17,2021-09-15 15:33:24,270572.0,1075.499313,18.479370,...,0.000000,0.0,61.666667,53.000000,0,3,2,185,106,benign
4,4,10.215.173.1,192.168.101.238,44848,53,17,2021-09-15 15:33:24,230191.0,981.793380,8.688437,...,0.000000,0.0,77.000000,149.000000,0,1,1,77,149,benign

In [40]:
ada=pickle.load(open('ada_model.pkl','rb'))

/home/saicharan/.local/lib/python3.8/site-packages/sklearn/base.py:324: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.23.2 when using version 1.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/saicharan/.local/lib/python3.8/site-packages/sklearn/base.py:324: UserWarning: Trying to unpickle estimator AdaBoostClassifier from version 0.23.2 when using version 1.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [49]:
rf=pickle.load(open('rf_model.pkl','rb'))

/home/saicharan/.local/lib/python3.8/site-packages/sklearn/base.py:324: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.23.2 when using version 1.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/saicharan/.local/lib/python3.8/site-packages/sklearn/base.py:324: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.23.2 when using version 1.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [43]:
xgb=pickle.load(open('xgb_model.pkl','rb'))

In [47]:
lgbm=pickle.load(open('lgbm_model.pkl','rb'))

/home/saicharan/.local/lib/python3.8/site-packages/sklearn/base.py:324: UserWarning: Trying to unpickle estimator LabelEncoder from version 0.23.2 when using version 1.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [20]:
data = [df["ack_flag_cnt"], df["init_fwd_win_byts"],df["fwd_seg_size_min"], df["fwd_iat_tot"],df["flow_duration"], df["Label"]]

In [21]:
headers = ["ack", "init","seg","iat","flow","label"]

In [22]:
df1 = pd.concat(data, axis=1, keys=headers)

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
Encoder = LabelEncoder()
le = Encoder.fit(df1["label"])
df1["label"] = le.transform(df1["label"])

In [25]:
df1
# 1 = Benign
# 0 = Attack

       ack   init  seg       iat       flow  label
0        0  65535   20  582767.0  2525190.0      1
1        0      0    8       0.0    43626.0      1
2        0  65535   20  862174.0  2504540.0      1
3        0      0    8  270572.0   270572.0      1
4        0      0    8       0.0   230191.0      1
...    ...    ...  ...       ...        ...    ...
54961    0      0    8       0.0   134195.0      1
54962    0      0    8       0.0   136412.0      1
54963    0      0    8  238581.0   296628.0      1
54964    0      0    8       0.0   163704.0      1
54965    0  65535   20  421291.0   570809.0      1

[54966 rows x 6 columns]

In [29]:
X = df1.drop('label',axis=1)
Y = df1['label']

In [30]:
X

       ack   init  seg       iat       flow
0        0  65535   20  582767.0  2525190.0
1        0      0    8       0.0    43626.0
2        0  65535   20  862174.0  2504540.0
3        0      0    8  270572.0   270572.0
4        0      0    8       0.0   230191.0
...    ...    ...  ...       ...        ...
54961    0      0    8       0.0   134195.0
54962    0      0    8       0.0   136412.0
54963    0      0    8  238581.0   296628.0
54964    0      0    8       0.0   163704.0
54965    0  65535   20  421291.0   570809.0

[54966 rows x 5 columns]

In [31]:
Y

0        1
1        1
2        1
3        1
4        1
        ..
54961    1
54962    1
54963    1
54964    1
54965    1
Name: label, Length: 54966, dtype: int64

In [37]:
X

       ack   init  seg       iat       flow
0        0  65535   20  582767.0  2525190.0
1        0      0    8       0.0    43626.0
2        0  65535   20  862174.0  2504540.0
3        0      0    8  270572.0   270572.0
4        0      0    8       0.0   230191.0
...    ...    ...  ...       ...        ...
54961    0      0    8       0.0   134195.0
54962    0      0    8       0.0   136412.0
54963    0      0    8  238581.0   296628.0
54964    0      0    8       0.0   163704.0
54965    0  65535   20  421291.0   570809.0

[54966 rows x 5 columns]

In [41]:
result=ada.score(X,Y)

/home/saicharan/.local/lib/python3.8/site-packages/sklearn/base.py:434: UserWarning: X has feature names, but AdaBoostClassifier was fitted without feature names
  warnings.warn(

### Added the code for various metrics
To run them just get values predicted Y values, using predict funciton, then compare the values with actual Y values
Use print statements accordingly

In [ ]:
ada_f1 = f1_score(y_true,y_pred)
ada_precision = precision_score(y_true,y_pred)
ada_recall = recall_score(y_true,y_pred)
ada_aucroc = roc_auc_score(y_true,y_pred)

In [ ]:

print("roc_auc Score -> ",ada_aucroc)
print("f1 score ->", ada_f1)

In [ ]:
ada_conf_mat = confusion_matrix(y_true,y_pred)
print(ada_conf_mat)

In [42]:
result

0.9898300767747334

In [ ]:
print(ada)

In [45]:
result=xgb.score(X,Y)
result

0.9969071789833716

In [ ]:
xgb_f1 = f1_score(y_true,y_pred)
xgb_precision = precision_score(y_true,y_pred)
xgb_recall = recall_score(y_true,y_pred)
xgb_aucroc = roc_auc_score(y_true,y_pred)

In [ ]:

print("roc_auc Score -> ",xgb_aucroc)
print("f1 score ->", xgb_f1)

In [ ]:
xgb_conf_mat = confusion_matrix(y_true,y_pred)
print(xgb_conf_mat)

In [48]:
result=lgbm.score(X,Y)
result

0.9937233926427246

In [ ]:
lgbm_f1 = f1_score(y_true,y_pred)
lgbm_precision = precision_score(y_true,y_pred)
lgbm_recall = recall_score(y_true,y_pred)
lgbm_aucroc = roc_auc_score(y_true,y_pred)

In [ ]:

print("roc_auc Score -> ",lgbm_aucroc)
print("f1 score ->", lgbm_f1)

In [ ]:
lgbm_conf_mat = confusion_matrix(y_true,y_pred)
print(lgbm_conf_mat)

In [51]:
result=rf.score(X,Y)
result

/home/saicharan/.local/lib/python3.8/site-packages/sklearn/base.py:434: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

0.9991085398246189

In [ ]:
rf_f1 = f1_score(y_true,y_pred)
rf_precision = precision_score(y_true,y_pred)
rf_recall = recall_score(y_true,y_pred)
rf_aucroc = roc_auc_score(y_true,y_pred)

In [ ]:

print("roc_auc Score -> ",rf_aucroc)
print("f1 score ->", rf_f1)

In [ ]:
rf_conf_mat = confusion_matrix(y_true,y_pred)
print(rf_conf_mat)