In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score

In [3]:
df=pd.read_csv('F:\\Cyprus\\CSV-01-12\\01-12\\Syn.csv')

c:\users\charan\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (85) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.columns

Index(['Unnamed: 0', 'Flow ID', ' Source IP', ' Source Port',
       ' Destination IP', ' Destination Port', ' Protocol', ' Timestamp',
       ' Flow Duration', ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', 'SimillarHTTP', ' Inbound', ' Label'],
      dtype='object')

In [5]:
df.head()

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
0,281052,172.16.0.5-192.168.50.1-53058-53058-6,172.16.0.5,53058,192.168.50.1,53058,6,2018-12-01 13:30:30.741451,115799309,19,...,646237.483665,1709809.0,1.0,1.426117e+07,3.220326e+06,21714933.0,11043464.0,0,1,Syn
1,450424,172.16.0.5-192.168.50.1-32237-32237-6,172.16.0.5,32237,192.168.50.1,32237,6,2018-12-01 13:30:30.741452,113973933,16,...,19.595918,49.0,1.0,1.628198e+07,2.573891e+06,20019405.0,11993631.0,0,1,Syn
2,182979,172.16.0.5-192.168.50.1-60495-9840-6,172.16.0.5,60495,192.168.50.1,9840,6,2018-12-01 13:30:30.741501,112,2,...,0.000000,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0,1,Syn
3,41540,172.16.0.5-192.168.50.1-59724-59724-6,172.16.0.5,59724,192.168.50.1,59724,6,2018-12-01 13:30:30.741563,105985004,16,...,17.705259,48.0,1.0,1.514071e+07,3.077366e+06,20954123.0,11120336.0,0,1,Syn
4,358711,172.16.0.5-192.168.50.1-60496-32538-6,172.16.0.5,60496,192.168.50.1,32538,6,2018-12-01 13:30:30.741565,1,2,...,0.000000,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0,1,Syn

In [6]:
ack = df[' ACK Flag Count']
pd.unique(ack)

array([1, 0], dtype=int64)

In [7]:
init = df['Init_Win_bytes_forward']
pd.unique(init)
print(max(init))
print(min(init))

65535
-1

In [8]:
seg = df[' min_seg_size_forward']
pd.unique(seg)

array([20,  0, 28, 32, 40, 24], dtype=int64)

In [9]:
iat = df['Fwd IAT Total']
pd.unique(iat)
print(max(iat))
print(min(iat))
print(len(iat))

119999653.0
0.0
1582681

In [10]:
flow = df[' Flow Duration']
pd.unique(flow)
print(max(flow))
print(min(flow))
print(len(flow))

119999653
0
1582681

In [11]:
label = df[' Label']
pd.unique(label)
print(max(label))
print(min(label))
print(len(label))

Syn
BENIGN
1582681

In [12]:
data = [df[" ACK Flag Count"], df["Init_Win_bytes_forward"],df[" min_seg_size_forward"], df["Fwd IAT Total"],df[" Flow Duration"], df[" Label"]]

In [13]:
headers = ["ack", "init","seg","iat","flow","label"]

In [14]:
df1 = pd.concat(data, axis=1, keys=headers)

In [15]:
df1

         ack  init  seg          iat       flow label
0          1  5840   20  115799309.0  115799309   Syn
1          1  5840   20  113973933.0  113973933   Syn
2          1  5840   20          1.0        112   Syn
3          1  5840   20  105985004.0  105985004   Syn
4          1  5840   20          1.0          1   Syn
...      ...   ...  ...          ...        ...   ...
1582676    1  5840   20          1.0          1   Syn
1582677    1  5840   20          1.0          1   Syn
1582678    1  5840   20          1.0          1   Syn
1582679    1  5840   20          1.0          1   Syn
1582680    1  5840   20         49.0         49   Syn

[1582681 rows x 6 columns]

In [16]:
df1.to_csv("syn_attributes.csv")

## Model Creation

In [17]:
df1=pd.read_csv('syn_attributes.csv')

In [18]:
from pycaret.classification import *
from sklearn.preprocessing import LabelEncoder

In [19]:
# label encoding for Y values
Encoder = LabelEncoder()
le = Encoder.fit(df1["label"])
df1["label"] = le.transform(df1["label"])

In [20]:
pd.unique(df1['label'])
# 1 = Syn
# 0 = Benign

array([1, 0])

In [21]:
df1

         Unnamed: 0  ack  init  seg          iat       flow  label
0                 0    1  5840   20  115799309.0  115799309      1
1                 1    1  5840   20  113973933.0  113973933      1
2                 2    1  5840   20          1.0        112      1
3                 3    1  5840   20  105985004.0  105985004      1
4                 4    1  5840   20          1.0          1      1
...             ...  ...   ...  ...          ...        ...    ...
1582676     1582676    1  5840   20          1.0          1      1
1582677     1582677    1  5840   20          1.0          1      1
1582678     1582678    1  5840   20          1.0          1      1
1582679     1582679    1  5840   20          1.0          1      1
1582680     1582680    1  5840   20         49.0         49      1

[1582681 rows x 7 columns]

In [22]:
# sample 10000 points from majority class to create new dataset
df_maj = df1[df1['label']==1]
df_min = df1[df1['label']==0]
df_maj = df_maj.sample(n=10000)
df_maj = pd.concat([df_maj,df_min], axis=0)

In [23]:
len(df_maj)

10392

In [24]:
X = df_maj.drop('label',axis=1)
y = df_maj['label']

In [25]:
X

         Unnamed: 0  ack  init  seg       iat    flow
1046807     1046807    1  5840   20       1.0       1
1377312     1377312    1  5840   20       1.0       1
59565         59565    1  5840   20       2.0       2
1123486     1123486    1  5840   20       0.0       0
454115       454115    1  5840   20       2.0       2
...             ...  ...   ...  ...       ...     ...
1479185     1479185    0  4253   20  499664.0  499664
1482435     1482435    0  4253   20       0.0     217
1482436     1482436    0  4253   20       0.0     194
1502348     1502348    0    -1   20       2.0   20808
1502473     1502473    0    -1   20       2.0   45944

[10392 rows x 6 columns]

In [26]:
X['init'].value_counts()

 5840     9995
-1         168
 8192       42
 256        18
 252        15
 64240      14
 254        13
 255        10
 246         9
 258         8
 1024        6
 253         6
 237         5
 16385       5
 4253        5
 1892        4
 16224       4
 16402       4
 1959        3
 0           3
 2093        3
 238         3
 257         3
 65535       3
 16439       2
 325         2
 4272        2
 16476       2
 16275       2
 581         2
 16425       2
 2160        2
 16508       2
 268         2
 315         2
 16362       2
 16321       2
 245         1
 419         1
 16346       1
 16560       1
 119         1
 259         1
 16369       1
 114         1
 16127       1
 1825        1
 2026        1
 16324       1
 122         1
 121         1
 297         1
 335         1
 607         1
Name: init, dtype: int64

In [27]:
# train and test split from newly created dataset 
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=32, shuffle=True)

In [28]:
y_test.value_counts()

1    1985
0      94
Name: label, dtype: int64

In [29]:
# perform smote for the dataset to solve imbalance
from imblearn.over_sampling import SMOTE
oversample = SMOTE()
x_train, y_train = oversample.fit_resample(x_train, y_train)

In [30]:
y_train.value_counts()

1    8015
0    8015
Name: label, dtype: int64

In [31]:
x_train

       Unnamed: 0  ack   init  seg           iat      flow
0          296635    1   5840   20  0.000000e+00         0
1          909726    1   8192   20  5.908991e+07  59089908
2          419597    1   5840   20  1.000000e+00         1
3         1154958    1   5840   20  0.000000e+00         0
4          235353    1   5840   20  1.000000e+00         1
...           ...  ...    ...  ...           ...       ...
16025     1067443    0  16360   20  0.000000e+00     54860
16026      349690    1  60940   20  5.198483e+05    524912
16027      160303    0     -1   20  1.000000e+00     20810
16028      763160    0    256   20  0.000000e+00     54713
16029      683291    0     -1   20  1.000000e+00     20849

[16030 rows x 6 columns]

In [32]:
# concatenate dataset for passing to pycaret
train_dataset = pd.concat([x_train,y_train],axis=1)
test_dataset = pd.concat([x_test,y_test],axis=1)

In [42]:
train_dataset.drop(['Unnamed: 0'],axis=1,inplace=True)
test_dataset.drop(['Unnamed: 0'],axis=1,inplace=True)

In [43]:
train_dataset

       ack   init  seg           iat      flow  label
0        1   5840   20  0.000000e+00         0      1
1        1   8192   20  5.908991e+07  59089908      0
2        1   5840   20  1.000000e+00         1      1
3        1   5840   20  0.000000e+00         0      1
4        1   5840   20  1.000000e+00         1      1
...    ...    ...  ...           ...       ...    ...
16025    0  16360   20  0.000000e+00     54860      0
16026    1  60940   20  5.198483e+05    524912      0
16027    0     -1   20  1.000000e+00     20810      0
16028    0    256   20  0.000000e+00     54713      0
16029    0     -1   20  1.000000e+00     20849      0

[16030 rows x 6 columns]

In [44]:
test_dataset

         ack  init  seg          iat       flow  label
724375     1  5840   20          1.0          1      1
823151     1  5840   20  109123971.0  109124083      1
1495179    1  5840   20          1.0          1      1
1462393    1  5840   20          1.0          1      1
901068     1  5840   20          1.0          1      1
...      ...   ...  ...          ...        ...    ...
1117324    1  5840   20         49.0         49      1
703044     1  5840   20          1.0          1      1
175002     1  5840   20   86750964.0   86750964      1
1160872    1  5840   20          0.0          0      1
922546     1  5840   20          1.0          1      1

[2079 rows x 6 columns]

In [45]:
len(train_dataset['init'].value_counts())

1911

In [46]:
# pycaret init
exp = setup(data = train_dataset, target='label', train_size = 1.0, preprocess = True, test_data = test_dataset, session_id=1, use_gpu=True)

In [47]:
xgb_model = create_model('xgboost')

In [48]:
tuned_xgb = tune_model(xgb_model, optimize = 'AUC')

In [49]:
ada_model = create_model('ada')

In [50]:
tuned_ada = tune_model(ada_model, optimize = 'AUC')

In [51]:
rf_model = create_model('rf')

In [52]:
tuned_rf = tune_model(rf_model, optimize = 'AUC')

In [53]:
lgbm_model=create_model('lightgbm')

In [54]:
tuned_lgbm = tune_model(lgbm_model, optimize = 'AUC')

In [61]:
lr_model=create_model('lr') #JUST TO CHECK IF ITS SHOWING GOOD RESULTS FOR ALL

## Manual training

In [55]:
x_test.drop(['Unnamed: 0'],axis=1,inplace=True)
x_train.drop(['Unnamed: 0'],axis=1,inplace=True)

In [56]:
x_test

         ack  init  seg          iat       flow
724375     1  5840   20          1.0          1
823151     1  5840   20  109123971.0  109124083
1495179    1  5840   20          1.0          1
1462393    1  5840   20          1.0          1
901068     1  5840   20          1.0          1
...      ...   ...  ...          ...        ...
1117324    1  5840   20         49.0         49
703044     1  5840   20          1.0          1
175002     1  5840   20   86750964.0   86750964
1160872    1  5840   20          0.0          0
922546     1  5840   20          1.0          1

[2079 rows x 5 columns]

In [57]:
x_train

       ack   init  seg           iat      flow
0        1   5840   20  0.000000e+00         0
1        1   8192   20  5.908991e+07  59089908
2        1   5840   20  1.000000e+00         1
3        1   5840   20  0.000000e+00         0
4        1   5840   20  1.000000e+00         1
...    ...    ...  ...           ...       ...
16025    0  16360   20  0.000000e+00     54860
16026    1  60940   20  5.198483e+05    524912
16027    0     -1   20  1.000000e+00     20810
16028    0    256   20  0.000000e+00     54713
16029    0     -1   20  1.000000e+00     20849

[16030 rows x 5 columns]

### Training Different Models

In [58]:
xgb = XGBClassifier(scale_pos_weight=1)
xgb_clf = xgb.fit(x_train,y_train)
predictions_xgb = xgb_clf.predict(x_test)

In [59]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions_xgb))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        94
           1       1.00      1.00      1.00      1985

    accuracy                           1.00      2079
   macro avg       1.00      1.00      1.00      2079
weighted avg       1.00      1.00      1.00      2079

In [60]:
print("xgb Score -> ",accuracy_score(predictions_xgb, y_test)*100)
print("xgb roc_auc Score -> ",roc_auc_score(y_test,predictions_xgb))
print("f1 score ->", f1_score(y_test,predictions_xgb))

xgb Score ->  100.0
xgb roc_auc Score ->  1.0
f1 score -> 1.0

# ADA BOOST

In [82]:
from sklearn.ensemble import AdaBoostClassifier

In [83]:
ada = AdaBoostClassifier()
ada_clf = ada.fit(x_train,y_train)
predictions_ada = ada_clf.predict(x_test)

In [84]:
print(classification_report(y_test,predictions_ada))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99        94
           1       1.00      1.00      1.00      1985

    accuracy                           1.00      2079
   macro avg       1.00      0.99      1.00      2079
weighted avg       1.00      1.00      1.00      2079

In [85]:
print("ada Score -> ",accuracy_score(predictions_ada, y_test)*100)
print("ada roc_auc Score -> ",roc_auc_score(y_test,predictions_ada))
print("ada f1 score ->", f1_score(y_test,predictions_ada))

ada Score ->  99.95189995189995
ada roc_auc Score ->  0.9946808510638299
ada f1 score -> 0.9997481742634097

# RF

In [86]:
from sklearn.ensemble import RandomForestClassifier
rf= RandomForestClassifier()
rf_clf = rf.fit(x_train,y_train)
predictions_rf = rf_clf.predict(x_test)

In [87]:
print(classification_report(y_test,predictions_rf))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99        94
           1       1.00      1.00      1.00      1985

    accuracy                           1.00      2079
   macro avg       1.00      0.99      1.00      2079
weighted avg       1.00      1.00      1.00      2079

In [88]:
print("rf Score -> ",accuracy_score(predictions_rf, y_test)*100)
print("rf roc_auc Score -> ",roc_auc_score(y_test,predictions_rf))
print("rf f1 score ->", f1_score(y_test,predictions_rf))

rf Score ->  99.95189995189995
rf roc_auc Score ->  0.9946808510638299
rf f1 score -> 0.9997481742634097

# LGBM

In [89]:
import lightgbm

In [91]:
lgbm= lightgbm.LGBMClassifier()
lgbm_clf = lgbm.fit(x_train,y_train)
predictions_lgbm = lgbm_clf.predict(x_test)

In [92]:
print(classification_report(y_test,predictions_lgbm))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        94
           1       1.00      1.00      1.00      1985

    accuracy                           1.00      2079
   macro avg       1.00      1.00      1.00      2079
weighted avg       1.00      1.00      1.00      2079

In [93]:
print("rf Score -> ",accuracy_score(predictions_lgbm, y_test)*100)
print("rf roc_auc Score -> ",roc_auc_score(y_test,predictions_lgbm))
print("rf f1 score ->", f1_score(y_test,predictions_lgbm))

rf Score ->  100.0
rf roc_auc Score ->  1.0
rf f1 score -> 1.0