In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('labeled_data.csv')

In [4]:
df.columns

Index(['Unnamed: 0', 'src_ip', 'dst_ip', 'src_port', 'dst_port', 'protocol',
       'timestamp', 'flow_duration', 'flow_byts_s', 'flow_pkts_s',
       'fwd_pkts_s', 'bwd_pkts_s', 'tot_fwd_pkts', 'tot_bwd_pkts',
       'totlen_fwd_pkts', 'totlen_bwd_pkts', 'fwd_pkt_len_max',
       'fwd_pkt_len_min', 'fwd_pkt_len_mean', 'fwd_pkt_len_std',
       'bwd_pkt_len_max', 'bwd_pkt_len_min', 'bwd_pkt_len_mean',
       'bwd_pkt_len_std', 'pkt_len_max', 'pkt_len_min', 'pkt_len_mean',
       'pkt_len_std', 'pkt_len_var', 'fwd_header_len', 'bwd_header_len',
       'fwd_seg_size_min', 'fwd_act_data_pkts', 'flow_iat_mean',
       'flow_iat_max', 'flow_iat_min', 'flow_iat_std', 'fwd_iat_tot',
       'fwd_iat_max', 'fwd_iat_min', 'fwd_iat_mean', 'fwd_iat_std',
       'bwd_iat_tot', 'bwd_iat_max', 'bwd_iat_min', 'bwd_iat_mean',
       'bwd_iat_std', 'fwd_psh_flags', 'bwd_psh_flags', 'fwd_urg_flags',
       'bwd_urg_flags', 'fin_flag_cnt', 'syn_flag_cnt', 'rst_flag_cnt',
       'psh_flag_cnt', 'ack_flag_cnt', 'urg_flag_cnt', 'ece_flag_cnt',
       'down_up_ratio', 'pkt_size_avg', 'init_fwd_win_byts',
       'init_bwd_win_byts', 'active_max', 'active_min', 'active_mean',
       'active_std', 'idle_max', 'idle_min', 'idle_mean', 'idle_std',
       'fwd_byts_b_avg', 'fwd_pkts_b_avg', 'bwd_byts_b_avg', 'bwd_pkts_b_avg',
       'fwd_blk_rate_avg', 'bwd_blk_rate_avg', 'fwd_seg_size_avg',
       'bwd_seg_size_avg', 'cwe_flag_count', 'subflow_fwd_pkts',
       'subflow_bwd_pkts', 'subflow_fwd_byts', 'subflow_bwd_byts', 'Label'],
      dtype='object')

In [8]:
data = [df["ack_flag_cnt"], df["init_fwd_win_byts"],df["fwd_seg_size_min"], df["fwd_iat_tot"],df["flow_duration"], df["Label"]]

In [9]:
headers = ["ack", "init","seg","iat","flow","label"]

In [11]:
df1 = pd.concat(data, axis=1, keys=headers)

In [12]:
df1

       ack   init  seg       iat       flow   label
0        0      0    8       0.0        0.0  benign
1        0  65535   20  759963.0  5178599.0  benign
2        0  65535   20  401825.0  5115833.0  benign
3        0      0    8       0.0    44031.0  benign
4        0      0    8       0.0    91249.0  benign
...    ...    ...  ...       ...        ...     ...
10408    0  65535   20   35207.0    35349.0  attack
10409    0  65535   20       0.0     5881.0  attack
10410    0      0    8       0.0    72091.0  benign
10411    0      0    8  248040.0   324903.0  benign
10412    0  65535   20  398694.0  3481089.0  benign

[10413 rows x 6 columns]

In [14]:
df1["label"]

attack    10055
benign      358
Name: label, dtype: int64

In [17]:
df1.loc[df1['label'] == 'benign', 'C'] = int(0)

In [19]:
df1.loc[df1['label'] == 'atatck', 'C'] = int(1)

In [23]:
df1['label'] = np.where(df1['label']== 'attack', 1, 0)

In [25]:
df1.drop(columns = 'C', inplace = True)

In [26]:
df1

       ack   init  seg       iat       flow  label
0        0      0    8       0.0        0.0      0
1        0  65535   20  759963.0  5178599.0      0
2        0  65535   20  401825.0  5115833.0      0
3        0      0    8       0.0    44031.0      0
4        0      0    8       0.0    91249.0      0
...    ...    ...  ...       ...        ...    ...
10408    0  65535   20   35207.0    35349.0      1
10409    0  65535   20       0.0     5881.0      1
10410    0      0    8       0.0    72091.0      0
10411    0      0    8  248040.0   324903.0      0
10412    0  65535   20  398694.0  3481089.0      0

[10413 rows x 6 columns]

In [33]:
import sklearn
import pickle
import joblib

In [34]:
# xgb_model = pickle.loads('xgb_model.pkl')
xgb_model = joblib.load('xgb_model.pkl')

In [35]:
X = df1.drop('label',axis=1)
y = df1['label']

In [36]:
predictions_xgb = xgb_model.predict(X)

In [37]:
from sklearn.metrics import classification_report
print(classification_report(y,predictions_xgb))

              precision    recall  f1-score   support

           0       0.03      1.00      0.07       358
           1       0.00      0.00      0.00     10055

    accuracy                           0.03     10413
   macro avg       0.02      0.50      0.03     10413
weighted avg       0.00      0.03      0.00     10413

D:\anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [42]:
y.value_counts()

1    10055
0      358
Name: label, dtype: int64

In [41]:
np.unique(predictions_xgb)

array([0])